<launch>
  <arg
    name = "frequency"
    default = "10"
    />
    <arg
    name = "recordBag"
    default = "true"
    />
  <node
    pkg = "beginner_tutorials"
    type = "talker"
    name = "talker"
    output = "screen"
    args = "$(arg frequency)"
  />

  <node
    pkg = "beginner_tutorials"
    type = "listener"
    name = "listener"
    output = "screen"
    launch-prefix="gnome-terminal --command"
  />

  <node
    pkg = "rosbag"
    type = "record"
    name = "record"
    args = "-a -O $(find beginner_tutorials)/Results/record.bag"
    if = "$(arg recordBag)"
    />
</launch>
